*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
.navbar{
    background-color:#333;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}
.navbar a{
    color:white;
    text-decoration:underline;
    padding:14px 20px;
    display:inline-block;
    text-align:center;
}
.navbar a:hover{
    background-color:lightsalmon;
    color: aqua;
}
.navbar.menu{
    margin-left: auto;
    display: flex;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 30px;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.checkout {
    padding: 40px 10px;
    background-color: #fff;
}

.checkout h2 {
    text-align: center;
    margin-bottom: 30px;
}

.checkout-form {
    max-width: 500px;
    margin: 0 auto;
}

.checkout-form form {
    display: flex;
    flex-direction: column;
}

.checkout-form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.checkout-form input,
.checkout-form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1rem;
}

.checkout-form button {
    background-color: blue;
    color: #fff;
    padding: 15px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.checkout-form button:hover {
    background-color: green;
}